<h1>New album</h1>
<mat-card>
  <mat-card-content>
    <div class="error" *ngIf="error | async">
      {{ error | async }}
    </div>
    <form (ngSubmit)="onSubmit()" #f="ngForm" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>Artist</mat-label>
        <mat-select name="artist" required ngModel>
          <mat-option *ngFor="let artist of artists | async" [value]="artist.id">
            {{ artist.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Title</mat-label>
        <input name="title" required matInput ngModel/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Release date: </mat-label>
        <input name="year" required matInput ngModel/>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <app-file-input name="image" ngModel></app-file-input>
      </mat-form-field>
      <div>
        <button
          type="submit"
          mat-raised-button
          color="primary"
          [disabled]="f.invalid || (loading | async)"
        >ADD</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
