<div *ngFor="let track of tracks | async"
     fxLayout="row" fxLayoutAlign="space-between" style="margin: 10px; width: 50rem;">
  <div *appHasRoles="{role: ['admin', 'user'], published: track.is_published}">

    <div>
      {{ track.trackName}} <span *ngIf="!track.is_published">:Unpublished</span>
    </div>

    <div>
      Duration {{ track.duration}}
    </div>

    <div>
      <a mat-button color="primary" style="border: black solid 1px" (click)="createTrackHistory(track.id)">
        To listen
      </a>
    </div>
    <div *appHasRoles="{role: ['admin', 'user'], published: track.is_published}">
      <button mat-raised-button (click)="delete(track.id)">Delete</button>
      <div *ngIf="!track.is_published">
        <button mat-raised-button (click)="publish(track.id)">Publish</button>
      </div>
    </div>
  </div>
</div>
