<div *ngFor="let track of tracks | async"
     fxLayout="row" fxLayoutAlign="space-between" style="margin: 10px; width: 50rem;">
  <div *appHasRoles="['admin']">
    <mat-card-subtitle  *appPublish="{roles: ['admin'], ispl: track.is_publish}">Unpublished</mat-card-subtitle>
  </div>
      <div>
        {{ track.trackName}}
      </div>

      <div>
        Duration {{ track.duration}}
      </div>

      <div>
        <a mat-button color="primary" style="border: black solid 1px" (click)="createTrackHistory(track.id)">
          To listen
        </a>
      </div>
  <div *appHasRoles="['admin']">
    <button mat-raised-button (click)="delete(track.id)">Delete</button>
    <div *appPublish="{roles: ['admin'], ispl: track.is_publish}">
      <button mat-raised-button (click)="publish(track.id)">Publish</button>
    </div>
  </div>
</div>
