<app-centered-card title="Register">
  <form #f="ngForm" fxLayout="column" autocomplete="off" [appIdentical]="['password', 'passwordRepeat']"
        (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input type="email" name="email" autocomplete="username"
             matInput email required ngModel #email="ngModel">
      <mat-error *ngIf="email.touched && email.hasError('required')">Email is required</mat-error>
      <mat-error *ngIf="email.touched && email.hasError('email')">Enter correct email!</mat-error>
      <mat-error *ngIf="email.touched && email.hasError('serverError')">
        {{ email.getError('serverError') }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Display Name</mat-label>
      <input
        type="text" name="displayName"
        required matInput ngModel #displayName="ngModel"
      />
      <mat-error *ngIf="displayName.touched && displayName.hasError('required')">
        Display Name is required!
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Avatar</mat-label>
      <app-file-input name="avatar" ngModel></app-file-input>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" name="password" autocomplete="new-password"
             required matInput ngModel #password="ngModel">
      <mat-error *ngIf="password.touched && password.hasError('required')">
        Password is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Repeat password</mat-label>
      <input
        type="password" name="passwordRepeat" autocomplete="new-password"
        required matInput ngModel #passwordRepeat="ngModel"
      />
      <mat-error *ngIf="passwordRepeat.touched && passwordRepeat.hasError('required')">
        Repeat your password
      </mat-error>
      <mat-error *ngIf="passwordRepeat.touched && f.errors?.['identical']">
        Passwords should match
      </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">
      REGISTER
    </button>
    <button
      type="submit"
      mat-raised-button
      color="default"
      (click)="fbLogin()"
      style="margin-top: 16px"
    >
      <img src="assets/icons/icons8-facebook.svg" alt="facebook logo">
      &nbsp;&nbsp;
      SIGN IN WITH FACEBOOK
    </button>
  </form>
</app-centered-card>
