<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar
      color="primary"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div>
        <a routerLink="/" style="color: white;">Last.Fm</a>
      </div>
      <nav *ngIf="!(user | async) else userMenu">
        <a mat-button routerLink="/register">REGISTER</a>
        <a mat-button routerLink="/login">SIGN IN</a>
      </nav>
    </mat-toolbar>
    <div class="content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #userMenu>
  <nav fxLayout="row" fxLayoutAlign="space-between">
    <div >
      <a mat-button routerLink="/new/artist">Add Artist</a>
      <a mat-button routerLink="/new/album">Add Album</a>
      <a mat-button routerLink="/new/track">Add track</a>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>{{ (user | async)?.email }}</button>
      <button mat-menu-item>Profile</button>
      <button mat-menu-item (click)="logout()">Logout</button>
      <button mat-menu-item routerLink="/trackHistory">Track History</button>
    </mat-menu>
  </nav>
</ng-template>
